<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mobileLayout">

<head>
    <title>WELCOME</title>
</head>

<body>

<th:block layout:fragment="content">

<ons-splitter>
    <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
        <ons-page>
            <ons-list>
                <ons-list-item onclick="fn.load('home')" tappable>
                    Home
                </ons-list-item>
                <ons-list-item onclick="fn.load('info')" tappable>
                    아부품이란?
                </ons-list-item>
                <ons-list-item onclick="fn.pageurl('/mobile/member/item')" tappable>
                    바디품목검색
                </ons-list-item>
                <ons-list-item onclick="fn.pageurl('/mobile/member/etcitem')" tappable>
                    기타품목검색
                </ons-list-item>
                <th:block th:if="${session['userLv']} == null ">
                    <ons-list-item onclick="fn.pageurl('/mobile/member/manage')" tappable>
                        바디품목등록
                    </ons-list-item>
                    <ons-list-item onclick="fn.pageurl('/mobile/member/eb_manage')" tappable>
                        기타품목등록
                    </ons-list-item>
                </th:block>
                <th:block th:if="${session['userLv']} == 1 ">
                    <ons-list-item onclick="fn.userLvUpInfo()" tappable>
                        바디품목등록
                    </ons-list-item>
                    <ons-list-item onclick="fn.userLvUpInfo()" tappable>
                        기타품목등록
                    </ons-list-item>
                    <ons-list-item onclick="fn.pageurl('/mobile/member/mypage')" tappable>
                        마이페이지
                    </ons-list-item>
                </th:block>
                <th:block th:if="${session['userLv']} == 2 ">
                    <ons-list-item onclick="fn.pageurl('/mobile/member/manage')" tappable>
                        바디품목등록
                    </ons-list-item>
                    <ons-list-item onclick="fn.pageurl('/mobile/member/eb_manage')" tappable>
                        기타품목등록
                    </ons-list-item>
                    <ons-list-item onclick="fn.pageurl('/mobile/member/mypage')" tappable>
                        마이페이지
                    </ons-list-item>
                </th:block>

            </ons-list>
        </ons-page>
    </ons-splitter-side>
    <ons-splitter-content id="content" page="home"></ons-splitter-content>
</ons-splitter>

<template id="home">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                Home
            </div>
        </ons-toolbar>
        <div style="height:100%;">
            <div id="introView" class="info_pd"></div>

            <p style="text-align: center;">
                <img src="/img/icon.png" width="30%">
            </p>

            <th:block th:if="${session['userLv']} == null ">
            <section style="padding: 8px 8px">
                <ons-button modifier="large" style="height:50px;line-height: 50px;border-radius:8px;font-size:16px;background-color:#4077f6;color:#ffffff;font-weight: 700;" onclick="fn.pageurl('/mobile/guest/login')">로그인</ons-button>
            </section>
            </th:block>

            <section style="padding: 8px 8px">
                <ons-button modifier="large" style="height:50px;line-height: 50px;border-radius:8px;font-size:16px;background-color:#4077f6;color:#ffffff;font-weight: 700;" onclick="fn.pageurl('/mobile/member/item')">서비스 바로 가기</ons-button>
            </section>
        </div>
    </ons-page>
</template>


<template id="info">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                아부품이란?
            </div>
        </ons-toolbar>
        <div style="height:100%;background-color: #ffffff;">
            <p style="margin-top: 12px;margin-left:12px;padding-bottom: 0px;display: inline-block;font-size: 50px;font-weight: 700;color: #305478;line-height: 65px;">
                꼭 필요한<img src="/img/info.png" style="margin-left:8px;width:40px;">공구<br>
                거래 플랫폼<br>
                아~~ "아부품"
            </p>

            <div id="infoView" class="info_pd" style="margin-top: -48px;"></div>

            <p style="text-align: center;">
                <img src="/img/icon_new.png" width="30%">
            </p>

            <section style="padding: 8px 8px">
                <ons-button modifier="large" style="height:50px;line-height: 50px;border-radius:8px;font-size:16px;background-color:#4077f6;color:#ffffff;font-weight: 700;" onclick="fn.pageurl('/mobile/guest/login?active=tab2')">회원가입</ons-button>
            </section>

        </div>
    </ons-page>
</template>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/page/common.js}" type="text/javascript"></script>
    <script>
        window.fn = {};

        window.fn.open = function() {
            var menu = document.getElementById('menu');
            menu.open();
        };

        window.fn.load = function(page) {
            var content = document.getElementById('content');
            var menu = document.getElementById('menu');
            content.load(page)
                .then(menu.close.bind(menu));

            if ( page == "home" ) {
                Common.goBoardView('001220314235249' ,'introView');
            } else if ( page == "info" ) {
                Common.goBoardView('001220314104608' ,'infoView');
            }
        };

        window.fn.pageurl = function(url) {
            window.location.href = url;
        };

        window.fn.userLvUpInfo = function() {
            modal({
                type: 'confirm',
                title: '권한신청',
                text: '상품등록권한이 필요합니다. 권한신청 페이지로 이동하시겠습니까?',
                callback: function (result) {
                    if ( result == true) {
                        fn.pageurl('/mobile/member/item?active=three');
                    }
                }
            })
        }
    </script>
    <script>
        $(document).ready(function () {
            Common.goBoardView('001220314235249' ,'introView');
            Common.goBoardView('001220314104608' ,'infoView');
        });
    </script>
    <th:block th:if="${param.active != null}">
        <script>
            fn.load('info');
        </script>
    </th:block>
</th:block>



</body>
</html>